<h1>Analytics</h1>

<h3>Users</h3>

<%= render 'user_analytics' %>

<h3>Donations</h3>

<%= render 'donation_analytics' %>

<h3>Business Data</h3>

<%= render 'business_analytics' %>

<h3>Charity Data</h3>

<%= render 'charity_analytics' %>

<h3>Category Data</h3>

<%= render 'category_analytics' %>
