<div class="field form-group">
	<%= f.label :phone %><br>
	<%= f.telephone_field :phone, required: true%><br>
</div>

<div class="field form-group">
	<%= f.label :address %><br>
	<%= f.text_field :address, required: true%><br>
</div>

<div class="field form-group">
	<%= f.label :city %><br>
	<%= f.text_field :city, required: true%><br>
</div>

<div class="field form-group">
	<%= f.label :state %><br>
	<%= f.text_field :state, required: true%><br>
</div>

<div class="field form-grou">
	<%= f.label :zip %><br>
	<%= f.text_field :zip, required: true%><br>
</div>