<div class="field form-group">
	<%= f.label :email %><br>
	<%= f.email_field :email, placeholder: "Email", required: true%><br>
</div>

<div class="field form-group">
	<%= f.label :password %><br>
	<%= f.password_field :password, placeholder: "Password", required: true%><br>
</div>

<div class="field form-group">
	<%= f.label :password_confirmation %><br>
	<%= f.password_field :password_confirmation, placeholder: "Password Confirmation", required: true%><br>
</div>