<div class='col-xs-4'>
	<table class="table table-striped table-hover">
	<tbody>
	    <tr>
	      <td class='col-md-2'><i class='fa fa-envelope-o'></i></td>
	      <td><a href='mailto:<% @user.email %>'><%= @user.email %></a></td>
	    </tr>

	    <tr>
	      <td class='col-md-2'><i class='fa fa-building'></i></td>
	      <td><%= @user.address %></td>
	    </tr>

	    <tr>
	      <td class='col-md-2'><i class='fa fa-building-o'></i></td>
	      <td><%= "#{@user.city}, #{@user.state}" %></a></td>
	    </tr>

	    <tr>
	      <td class='col-md-2'><i class='fa fa-institution'></i></td>
	      <td><%=@user.zip%></a></td>
	    </tr>

	    <tr>
	      <td class='col-md-2'><i class='fa fa-phone'></i></td>
	      <td><%= @user.phone %></a></td>
	    </tr>
	  </tbody>
	</table>
	<%= link_to "Edit My Information", edit_user_path(@user) %>
</div>