 <%=form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h4>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
<% end %>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %><br>
    </div>

  <br>
  <%= f.hidden_field :admin_id, :value => current_user.id %>

  <div class="actions">
      <%= f.submit "Submit"%>
    </div>
 <% end %>