<nav class="navbar navbar-default">
  <div class="container-fluid">
	<%= link_to "Log In", login_path %> |
	<%= link_to "Log Out",logout_path %> |

	<%= link_to 'items', items_path %> |

	<%= link_to 'sign up', signup_path  %> |

	<% if current_cart %>
		<%= link_to 'view my cart', view_cart_path(current_cart)%> |
	<% end %>

	<%= link_to 'home', root_url %> |

	<%= link_to 'My Profile', user_path(161) %>

	<%= link_to 'categories', categories_path %>

  <% if current_page?(controller: 'items') || current_page?(controller: 'search') %>
    <%= form_tag search_index_path, method: :get, class: "navbar-form navbar-right search-form" do %>
    <%= text_field_tag(:search, params[:search], placeholder: "Search", class: "form-control") %>
    <%= submit_tag( "Search", class: "form-control") %>
  <% end %>

  <% end %>

  </div>
</nav>
